body{
    padding:0;
    margin:0px;
    font-family: 'backgrounNoto Sans', sans-serif;

}

.top-nav{
    background-color: #b3093f;
    overflow: hidden;
    width: 150px;
    position: fixed;

}

.top-nav a{
    color:aliceblue;
    display: block;
    padding: 14px 16px;
    
    text-decoration: none;
    text-align: left;
}

.active{
    background-color:#780d2f;
}

.top-nav a:hover:not(.active){
    background-color:#d9688c;
}


.rigth{
    float: rigth !important;}
