body {
    padding: 0;
    margin: 0px;
    font-family: 'backgrounNoto Sans', sans-serif;
    height: 100%;
    width: 50%;

}

.navegação {
    background-color: #18222b;
    overflow: hidden;
    position: fixed;
}

.navegação a {
    color: aliceblue;
    display: block;
    padding: 14px 51px;
    float: left;
    text-decoration: none;
    text-align: center;
}

.active {
    background-color: #009dce;
}

.navegação a:hover:not(.active) {
    background-color: #34495e;
}


.rigth {
    float: rigth !important;
}


.abrir-menu,
.fechar-menu {
    display: none;
}

.abrir-menu {
    display: inline-block;
}

@media (max-width: 600px) {
    div > .navegação {
        display: none;
    }
    nav:hover > .navegação {
        display:flex;
    }


}

@media print {
    .navegação {
        display: none;
    }
}